.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
label {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}
button.darkmode {
  background-color: rgb(41, 38, 38);
  color: rgb(203, 196, 196);
}
div.darkmode {
  background-color: rgb(46, 46, 94);
}
